@use "../functions" as *;

// Font-families
$font-family: (
  "base": #{Alata, sans-serif},
  "heading": #{"Josefin Sans", sans-serif}
);

// Getter for the font-families
@function getFontFamily($target: "base") {
  @return map-get($font-family, $target);
}

// Body font size
$body-font-size: pxToRem(15);

// Headings line-height
$heading-line-height: 0.95;
// Headings font weight
$heading-font-weight: 300;

// Article headings line-height
$article-headings-line-height: 1.02;
// Article headings font-sizes per screen breakpoint
$article-heading-font-sizes: (
  "sm": pxToRem(32),
  "lg": pxToRem(40),
  "xlg": pxToRem(48),
);

// Getter for the article headings font-sizes
@function getArticleHeadingFontSize($bp) {
  @return map-get($article-heading-font-sizes, $bp);
}