/* Flexbox utility classes */

.flex {
  display: flex;
}

/* DIRECTIONS ********************************************/

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

/* ***************************************************** */

/* MAIN AXIS ALIGNMENT ***********************************/

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

/* ***************************************************** */

/* CROSS AXIS ALIGNMENT **********************************/

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.items-stretch {
  align-items: stretch;
}

/* ***************************************************** */

/* GROW **************************************************/

.grow {
  flex-grow: 1;
}

/* ***************************************************** */

/* SHRINK ************************************************/

.shrink {
  flex-shrink: 1;
}

/* ***************************************************** */

/* BASIS *************************************************/

.basis-auto {
  flex-basis: auto;
}

/* ***************************************************** */