/* POSITIONS & TOP/BOTTOM/LEFT/RIGHT *********************/

.relative {
  position: relative;
}

/* ***************************************************** */

/* DISPLAYS **********************************************/

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.hidden {
  display: none;
}

/* ***************************************************** */

// Page container
.container {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding-right: var(--container-padding-x);
  padding-left: var(--container-padding-x);
  max-width: var(--container-max-width);
}