/* POSITIONS & TOP/BOTTOM/LEFT/RIGHT *********************/

.relative {
  position: absolute;
}

/* ***************************************************** */

/* DISPLAYS **********************************************/

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.hidden {
  display: none;
}

/* ***************************************************** */