/* WIDTH *************************************************/

.w-full {
  width: 100%;
}

/* ***************************************************** */

/* HEIGHT ************************************************/

.h-auto {
  height: auto;
}

.h-full {
  height: 100%;
}

/* ***************************************************** */