/* Margins and Paddings utility classes */

@use "../variables/spacings" as *;
@use "../variables/breakpoints" as bp;
@use "../mixins" as *;

// The sides map
$sides: (
  left: "l",
  right: "r",
  top: "t",
  bottom: "b",
  "both-x": "x",
  "both-y": "y"
);

// Mixin for writing a spacing rule for a side
@mixin sideRules($property, $side, $value) {
  @if $side == both-x {
    #{$property}-left: $value;
    #{$property}-right: $value;
  }
  @else if $side == both-y {
    #{$property}-top: $value;
    #{$property}-bottom: $value;
  }
  @else {
    #{$property}-#{$side}: $value;
  }
}

/* SPACING RULES *******************************************/

// Viewport free
$i: 1;
@each $space in $spacings {
  // Margin spacings
  @each $side, $short-side in $sides {
    .m#{$short-side}-#{$i} {
      @include sideRules("margin", $side, $space);
    }
  }
  // Padding spacings
  @each $side, $short-side in $sides {
    .p#{$short-side}-#{$i} {
      @include sideRules("padding", $side, $space);
    }
  }
  $i: $i + 1;
}

// Extras-small
@include max-viewport(bp.getScreenBreakpoint("lg")) {
  $i: 1;
  @each $space in $spacings {
    // Margin spacings
    @each $side, $short-side in $sides {
      .m#{$short-side}-xs-#{$i} {
        @include sideRules("margin", $side, $space);
      }
    }
    // Padding spacings
    @each $side, $short-side in $sides {
      .p#{$short-side}-xs-#{$i} {
        @include sideRules("padding", $side, $space);
      }
    }
    $i: $i + 1;
  }
}

// For every screen breakpoint
@each $bpLabel, $breakpoint in bp.$screens {
  @include min-viewport(bp.getScreenBreakpoint($bpLabel)) {
    $i: 1;
    @each $space in $spacings {
      // Margin spacings
      @each $side, $short-side in $sides {
        .m#{$short-side}-#{$bpLabel}-#{$i} {
          @include sideRules("margin", $side, $space);
        }
      }
      // Padding spacings
      @each $side, $short-side in $sides {
        .p#{$short-side}-#{$bpLabel}-#{$i} {
          @include sideRules("padding", $side, $space);
        }
      }
      $i: $i + 1;
    }
  }
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

/* ***************************************************** */